.cart-widget {
    @include fc;
    color: $clr-8;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 5px;
    text-decoration: none;

    svg {
        font-size: 2rem;
    }

    span {
        font-size: 1.2rem;
        margin: 4px 0px 0px 10px;
    }
}

.cart-widget:hover {
    background-color: $clr-2;
    color: #000000;
    cursor: pointer;
}

.carrito-none {
    display: none;
}