/* Variables */
$clr-1: #fff7fd;
$clr-2: #fadfff;
$clr-3: #f1cffd;
$clr-4: #E5B3FE;
$clr-5: #E2AFFF;
$clr-6: #d798ff;
$clr-7: #a776e7;
$clr-8: #9a50d6;
$clr-9: #6c28ac;
$clr-10: #390b58;


/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "components/NavBar/NavBar";
@import "components/Item/Item";
@import "components/CartWidget/CartWidget";
@import "components/ItemCount/ItemCount";
@import "components/ItemDetail/ItemDetail";
@import "components/ItemList/ItemList";
@import "components/ItemListContainer/ItemListContainer";
@import "components/Home/Home";


/* Content */
.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

body {
  background-image: url(https://i.pinimg.com/originals/36/30/00/363000c1b5735897d229b4d3f2504126.jpg);
  background-size: cover;
  background-attachment: fixed;
}