/* Imports */
@import "~bootstrap/scss/bootstrap";

/* Variables */
$color-palette1: #F4EEFF;
$color-palette2: #DCD6F7;
$color-palette3: #A6B1E1;
$color-palette4: #434975;

/* Content */

.App {
  text-align: center;
}

.cart-widget {
  color: $color-palette4;
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  border-radius: 10px;
  margin: 0px 8px;
}

.cart-widget:hover {
  background-color: $color-palette1;
  cursor: pointer;
}

.nav-background {
  background-color: $color-palette2;
}

.navbar-link {
  text-decoration: none;
  color: $color-palette4;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 7px 15px;
}

.navbar-link:hover {
  color: #2e314e;
  background-color: $color-palette1;
  border-radius: 10px;
}

.logo-style {
  height: 5rem;
}

.itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-style {
  background-color: $color-palette1;
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

    h3 {
      margin-bottom: unset;
      font-size: 1.5rem;
    }
}

.estiloContador {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;

    button {
      align-self: stretch;
    }
}

.contador {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: stretch;
  background-color: white;
  border: 1px solid black;

    button {
      border: unset;
      background-color: transparent;
      font-size: 1.5rem;
    }

    span {
      background-color: white;
      padding: 0px 10px;
      font-size: 1.5rem;
    }
}

@media only screen and (max-width: 990px) {
  .nav-margin {
    margin-top: 1rem;
  }
}